/*This website was created by candidate nr: 107, 106 and 114*/
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('queries.css');
* {
    margin: 0;
    padding: 0;
}

/***
Design for header
 */
header {
    position: fixed;
    top: 0;
    left: 0;
    background: #252738;
    width: 100vw;
    height: 70vh;
    z-index: 0;
}
/* Code for SVG house design*/
#house {
    width: 100vw;
    height: 100vh;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
}
/*Positioning images mobile view*/
#mobile {
    position: relative;
    z-index: 2;
}
/* Design for outside lighting on roof and entrance*/
#light {
    color: yellow;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
}
/* Code for the light switch at start*/
#switch {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(24,26,51, 0.9);
    opacity: 1;
    transition: 1s;
    z-index: 4;
}

#switch img {
    width: 300px;
    height: 300px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

a {
    color: #000;
    word-wrap: break-word;
}

a:link, a:active, a:visited, a:focus {
    text-decoration: none;
}



a:hover {
    background: #606060 !important;
    color: #d4d4d4;
}
/* Code for lightswitch*/
.fadeOut {
    animation: fadeout 1s;
    animation-fill-mode: forwards;
}

.lightsOff {
    opacity: 1;
    transition: 0.5s;
}

.lightsOn {
    opacity: 0 !important;
}
/* Code for styling of the information on each page*/
#rominfo{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 17px;
    position: absolute;
    width: 30vw;
    margin-left: 52vw;
    margin-top: 10px;
    padding: 15px 15px 10px;
    color:#dadada;
}
#info{
    margin-bottom: 0;
}
/* Code for style of image on room page*/
#roompic{
    width: 100vw;
    height: 60vh;
    position: relative;
    z-index: 1;

}
/* Info list*/
#liste{
    font-family: 'Saira Extra Condensed', sans-serif;
    margin-top: 20px;
    margin-left: 17vw;
    width: 40vw;
    color:#dadada;

}
#lysinfo{
    margin-left: 50px;
    text-decoration: none;
    list-style-type: circle;
}
/* Code for logo*/
#logo{
    width: 15vw;
    padding-top: 10px;

}
/* Button for returning to previous page*/
#indexknapp{
    position: relative;
    display: inline-block;
    z-index: 2;
    float: left;
}
/* Code for heading on info pages*/
#overskrift{
    position: absolute;
    color: white;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 50px;
    margin-left: 45vw;

}
/* Footer style*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #785e5c;
    width: 100vw;
    height: 30vh;
    z-index: -1;
    overflow: scroll;
    overflow-x: hidden;
}
/* Defines the fadeout animation*/
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}






