@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('queries.css');
* {
    margin: 0;
    padding: 0;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    background: #252738;
    width: 100vw;
    height: 70vh;
    z-index: 0;
}

#house {
    width: 100vw;
    height: 100vh;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#mobile_house {
    position: relative;
    z-index: 2;
}

#light {
    color: yellow;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
}

#switch {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(24,26,51, 0.9);
    opacity: 1;
    transition: 1s;
    z-index: 4;
}

#switch img {
    width: 300px;
    height: 300px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

.indoorRoom {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

a {
    color: #000;
    word-wrap: break-word;
}

a:link, a:active, a:visited, a:focus {
    text-decoration: none;
}

.dropdown {
    position: absolute;
    top:30px;
    left: 0;
    width: auto;
    display: none;
    opacity: 0;
    transition: 0.3s;
}

.dropdown li a{
    background: #9c9c9c;
    display: block;
    width: 300px;
    padding: 10px;
    border-bottom: 1px solid grey;
}

a:hover {
    background: #606060 !important;
    color: #d4d4d4;
}

ul {
    position: relative;
    width: 500px;
}

.hasDropdown {
    position: relative;
    height: 40px;
}

ul li {
    display: inline-block;
    cursor: pointer;
}

.hasDropdown:hover::before {
    display: inline-block;
}

.hasDropdown:hover .dropdown {
    display: block;
    opacity: 1;
}

section {
    background: url("../images/backup_layover.svg");
}


.hasDropdown:before {
    content: "";
    position: absolute;
    display: none;
    top: 20px;
    left: 40%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #9c9c9c;
    background: transparent;
    width: 0px;
    height: 0px;
    z-index: 2;
}

.fadeOut {
    animation: fadeout 1s;
    animation-fill-mode: forwards;
}



.lightsOff {
    opacity: 1;
    transition: 0.5s;
}

.lightsOn {
    opacity: 0 !important;
}

#rominfo{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 17px;
    position: absolute;
    padding: 15px;
    width: 30vw;
    margin-left: 52vw;
    margin-top: 10px;

}
#info{
    margin-bottom: 0;
}
#roompic{
    width: 100vw;
    height: 70vh;
    position: relative;
    z-index: 1;

}
footer{
    border-top: solid;
}
#liste{
    font-family: 'Saira Extra Condensed', sans-serif;
    margin-top: 20px;
    margin-left: 17vw;
    width: 40vw;

}
#lysinfo{
    margin-left: 50px;
    text-decoration: none;
    list-style-type: circle;
}
#logo{
    width: 15vw;
    padding-top: 10px;
}
#overskrift{
    position: absolute;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 50px;
    margin-left: 45vw;

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #785e5c;
    width: 100vw;
    height: 30vh;
    z-index: -1;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



